<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./css/balling.css" />
  </head>
  <body>
    <section class="header">
      <div id="header" class="container">
        <span class="heading"><a href="index.html"><img
              src="./images/TheFuture.png"
              class="logo img-fluid"
              alt="Back To Bowling"
            /></a></span>

        <div id="mobile">
          <i id="bar" class="fa-solid fa-align-right"></i>
        </div>
      </div>
    </section>
    <br />
    <section class="shape-section">
      <h4 class="title">Number of Bowls:</h4>
      <div class="container diamond-shape">
        <div class="item-count">{{counter}}</div><!-- .item-count -->
      </div><!-- .container .diamond-shape-->
    </section><!-- .shape-section -->

    <h1 class="title">Bowling Score Card</h1>
    <div id="scorecard">
      <table
        id="scorecardTable"
        class="scorecard"
        cellpadding="1"
        cellspacing="0"
      >

        <tr>
          <th colspan="6">Frame 1</th>
          <th colspan="6">Frame 2</th>
          <th colspan="6">Frame 3</th>
          <th colspan="6">Frame 4</th>
          <th colspan="6">Frame 5</th>
          <th colspan="6">Frame 6</th>
          <th colspan="6">Frame 7</th>
          <th colspan="6">Frame 8</th>
          <th colspan="6">Frame 9</th>
          <th colspan="6">Frame 10</th>
        </tr>
        <tr>
          {{#each balls}}
            {{#each balls2}}
              <td colspan="3">{{this}}</td>{{/each}}<td
              id="frame1"
              colspan="3"
            >{{this}}</td>
          {{/each}}
        </tr>
        <tr>
          {{#if balls2}}
            {{#each score}}
              <td colspan="6" id="marker0"><span
                  class="dot"
                >{{this}}</span></td>
            {{/each}}
          {{/if}}
        </tr>
      </table>
    </div>

    <div id="buttons" class="buttons">
      {{#if messages.warning}}
        <div class="errors">
          <h5 class="error">{{messages.warning}}</h5>
        </div>
      {{/if}}
      <form action="/bowl" method="POST">
        <button type="submit" onclick="pinHit(0)" class="ball b2"><strong>Bowl
            !!!</strong></button>
      </form>

    </div>
    <script src="/js/setimeout.js"></script>

  </body>
</html>